body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans', cursive;
}

#container {
  width: 335px;
  height: 500px;
  background-image: url(https://cdn.discordapp.com/attachments/477031142910853122/559356694799319041/note.png);
  background-repeat: no-repeat;
  float:right; 
  margin-right: 25px;
  margin-top: 500px;
}

#textbox {
  width: 335px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#label {
  font-family: 'Comic Sans', cursive;
  text-align: center;
  width: 335px;
  height: 25px;
  font-size: 18px;
  margin-top: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}

#text {
  margin-top: -2px;
  resize: none;
  font-family: 'Comic Sans', cursive;
  width: 325px;
  padding: 5px;
  height: 365px;
  line-height: 23px;
  overflow: hidden;
  font-size: 13px;
  background-color: transparent;
  outline: none;
  border: none;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  margin-top: 56px;
  height: 35px;
}

button {
  width: 70px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
}

#rip {
  float: left;
  transition: 300ms;
  background-color: rgba(138, 14, 86, 0.5);
  margin-right:10px;
}

#throw {
  float: left;
  transition: 300ms;
  background-color: rgba(223, 132, 42, 0.5);
}

#rip:hover {
  transition: 300ms;
  background-color: rgba(138, 14, 86, 0.9);
}

#throw:hover {
  transition: 300ms;
  background-color: rgba(223, 132, 42, 0.9);
}


#save {
  float: right;
  transition: 300ms;
  background-color: rgba(83, 212, 83, 0.5);
}

#save:hover {
  transition: 300ms;
  background-color: rgba(83, 212, 83, 0.9);
}